.credits {
  h1 {
    text-align: center;
    font-weight: normal;
    font-size: var(--size-normal);
    color: var(--gray-12);
    margin-top: var(--space-7);
    margin-bottom: var(--space-2);
  }

  table {
    width: 100%;
    table-layout: fixed;
  }

  td {
    padding: var(--space-2) var(--space-2);

    & a {
      color: inherit;
      text-decoration: none;

      &:hover {
        text-decoration: underline;
      }
    }
  }

  td:first-child {
    text-align: right;
    color: var(--gray-9);
    font-weight: 200;
    font-size: var(--size-small);
  }

  td:last-child {
    color: var(--gray-11);
    font-weight: 400;
  }
}

.credits__back {
  margin: var(--space-2);
}

.credits_config {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: var(--space-2);
  transition: color var(--t-speed) var(--t-func);

  &:hover {
    cursor: pointer;
    color: var(--gray-11) !important;
  }
}
